version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "deps"
    open-pull-requests-limit: 10
    groups:
      minor-updates:
        update-types:
          - "minor"
      patch-updates:
        update-types:
          - "patch"
      eslint:
        patterns:
          - "@eslint/*"
          - "@eslint/js"
          - "eslint"
          - "eslint-*"
          - "typescript-eslint"
      vitest:
        patterns:
          - "@vitest/*"
          - "vitest"
      commitlint:
        patterns:
          - "@commitlint/*"
          - "commitlint"