name: Build & Publish

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  id-token: write

# Allow only one concurrent deployment, and wait for the current one to finish
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout current branch
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          persist-credentials: false

      - name: Setup NodeJS
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444
        with:
          node-version: 24
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Audit dependencies
        run: npm audit --audit-level=high

      - name: Run tests
        run: npm test

      - name: Create GitHub App Token
        id: app-token
        uses: actions/create-github-app-token@b96fde71c0080358ed6e2d162f11c612c92a97d1
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Publish project
        uses: cycjimmy/semantic-release-action@b12c8f6015dc215fe37bc154d4ad456dd3833c90
        id: semantic
        with:
          semantic_version: 25.0.2
          extra_plugins: |
            @semantic-release/changelog
            @semantic-release/git
          branches: |
            [
              "main"
            ]
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
